.product-slider-item img {
  display: block;
  width: 300px;
  height: 400px;
}

.product-slider {
  display: flex;
  overflow-x: auto;
}

.product-slider img {
  display: block;
  width: 432px;
  height: 576px;
  padding-left: 0;
}
