
html {
  font-size: 16px;
}

body {
  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.header {
  border-bottom: 1px solid #c6c6c6;
}

.header-logo {
  display: block;
  width: 138px;
  height: 10px;
  padding: 1rem 0 1rem 0;
  margin: 0 auto;
}

.product-name {
  margin: 1rem 1rem;
  font-size: 1.25rem;
  font-family: 'Lora', serif;
  color:  #111111;
  text-align: left;
  font-weight: normal;
  line-height: 1.2;
}

.product-slider-photo {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.product-slider-item img {
  display: block;
}

.product-description {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  margin-top: 1rem;
}

.product-price-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-top: 1px;
}

.product-price {
  font-size: 1rem;
  font-weight: normal;
}

h2 {
  margin: 0;
}

.product-item {
  margin: 0;
  padding-top: 4.49px;
  padding-right: 0.29px;
  font-size: 0.75rem;
}

.product-color {
  margin: 0;
  padding-top: 2px;
  font-size: 0.75rem;
  color: #171717;
}

.button-color {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 1.05rem;
}

.color-dark, .color-light {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #232122;
  border-radius: 6.25rem;
  border: none;
}

.color-light {
  background-color: #cfa880;
  margin-left: 1rem;
}

.color-active {
  border: solid 1px #232122;
}

.product-actions {
  display: flex;
  flex-direction: column;
  border-top: solid 1px #c6c6c6;
  margin: 2rem 1rem 0 1rem;
}

.action-select , .action-find {
  padding-top: 1.09rem;
  font-family: Raleway;
  border-radius: 0.125rem;
  font-size: 0.75rem;
  text-align: center;
}

.action-select {
  margin: 2rem 0 1rem 0;
  padding-bottom: 1rem;
  border: solid 1px #171717;
  background-color: #171717;
  color: #ffffff;
}

.action-find {
  margin-bottom: 1.5rem;
  padding-bottom: 0.95rem;
  border: solid 1px #999999;
  background-color: transparent;
  color: #171717;
}

.action-help {
  align-self: flex-start;
  font-family: Raleway;
  font-size: 0.75rem;
  text-align: center;
  color: #171717;
  border: none;
  background-color: inherit;
  padding: 0;
  padding-top: 2px
}

.product-description-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.06rem 0;
  margin: 3.05rem 0 0 0;
  border-top: solid 1px #c6c6c6;
}

.dropdown-open, .dropdown-list {
  display: inline-block;
  margin: 0 1rem 1.95rem 1rem ;
}

.dropdown-text {
  font-family: Lora;
  font-size: 0.875rem;
  line-height: 1.72;
  color: #171717;
  text-align: left;
  margin: 0 0 1.5rem 0;
}

.dropdown-list {
  display: block;
  font-family: Lora;
  font-size: 0.875rem;
  line-height: 1.72;
  color: #171717;
  text-align: left;
  padding: 0;
  list-style-type: none;
  margin: 0;

}

.action-disclosure {
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 500;
  color: #171717;
  margin-left: 1rem;
}

.product-returns {
  border-top: solid 1px #c6c6c6;
  border-bottom: solid 1px #c6c6c6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.15rem 0 2rem 0;
}

.action-triangle, .action-triangle-open {
  width: 0.625rem;
  height: 0.625rem;
  margin-right: 1rem;
  padding-top: 0.2rem;
}

.action-triangle-open {
  padding: 0;
  transform: rotate(180deg);
}

.Recommendations {
  margin: 3.05rem 1rem 0 1rem;
}

.header-recommendations {
  display: inline-block;
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 500;
  color: #171717;
  border-bottom: solid 1px #171717;
  padding-bottom: 0.5rem;
}

.recommend-product-end {
  margin-top: 0.89rem;
}

.header-recommendations-additionally {
  padding-top: 2px;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  color: #171717;
  border-bottom: solid 1px #171717;
  padding-bottom: 0.5rem;
}

.recommend-product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  justify-content: space-between;
}

.reccommend-product-descriprion {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
}

.recommend-product-photo {
  width: 8.125rem;
  height: 10.875rem;
}

.recommend-product-name {
  margin-top: 0.5rem;
  font-family: 'Lora',serif;
  font-size: 1rem;
  color: #171717;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 1.19;
}

.recommend-product-price {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  color: #999999;
  margin-bottom: 2rem;
  font-weight: normal;
  padding-top: 1.5px
}

.recommend-product-list {
  margin-top: 1.53rem;
  display: flex;
  flex-direction: column;
}

.product-list {
  font-family: Lora;
  font-size: 0.875rem;
  font-style: italic;
  color: #171717;
  margin-bottom: 1rem;
  line-height: 1.23
}

.footer {
  margin-top: 3rem;
  background-color: #f3f3f3;
  padding: 1.85rem 1rem;
}

.product-location-footer {
  text-align: left;
}

.product-location-country, .product-location-language {
  font-family: Raleway;
  font-size: 0.75rem;
  color: #999999;
  font-weight: normal;
  margin: 0 0 0.8rem 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.product-location-country {
  line-height: 1.33;
}

.product-location-language {
  margin-bottom: 0;
  line-height: 1.17;
}

.information-help {
  font-family: Raleway;
  font-size: 1rem;
  font-weight: bold;
  color: #171717;
  text-align: center;
  margin: 1.45rem 0 1.05rem 0;
  line-height: 1.19;

}

.information-contact {
  display: block;
  font-family: Lora;
  font-size: 0.875rem;
  font-style: italic;
  color: #171717;
  text-align: center;
  margin: 0;
  line-height: 1.21;
}
