body {
  max-width: 320px;
  -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
}

html {
  font-size: 16px;
}

.header {
  border-bottom: 1px solid #c6c6c6;
}

.header-logo {
  display: block;
  width: 138px;
  height: 10px;
  padding: 1rem 0;
  margin: 0 auto;
}

.product-name {
  font-size: 1.25rem;
  font-family: 'Lora', serif;
  margin: 1rem 1rem;
  color:  #111111;
  text-align: left;
  font-weight: normal;
}

.product-slider-photo {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.photo-slider-item {
  vertical-align: top;
}

.product-description {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.product-price-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-top: 2px;
}

.product-price {
  font-size: 1rem;
  font-weight: normal;
}

h2 {
  margin: 0;
}

.product-item {
  font-size: 0.75rem;
  margin: 0;
  padding-top: 5px;
}

.product-color {
  font-size: 0.75rem;
  color: #171717;
  margin: 0;
  padding-top: 2px;
}

.button-color {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 1rem;
}

.color-dark, .color-light {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #232122;
  border-radius: 6.25rem;
  border: none;
}

.color-light {
  background-color: #cfa880;
  margin-left: 1rem;
}

.color-active {
  border: solid 1px #232122;
}

.product-actions {
  display: flex;
  flex-direction: column;
  border-top: solid 1px #c6c6c6;
  margin: 2rem 1rem 0 1rem;
}

.action-select {
  border-radius: 0.125rem;
	background-color: #171717;
	border: solid 1px #171717;
  font-size: 0.75rem;
  text-align: center;
	color: #ffffff;
  font-family: Raleway;
  margin: 2rem 0 1rem 0;
  text-align: center;
  padding: 1rem 0;
}

.action-find {
  border: solid 1px #999999;
  background-color: inherit;
  border-radius: 0.125rem;
  font-family: Raleway;
	font-size: 0.75rem;
	text-align: center;
	color: #171717;
  padding: 1rem 0;
  margin-bottom: 1.5rem;
}

.action-help {
  align-self: flex-start;
  font-family: Raleway;
	font-size: 0.75rem;
	text-align: center;
	color: #171717;
  border: none;
  background-color: inherit;
  padding: 0;
}

.product-description-text {
  border-top: solid 1px #c6c6c6;
  margin: 3rem 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0;
}

.dropdown-open, .dropdown-list {
  display: inline-block;
  margin: 0 1rem 2rem 1rem ;
}

.dropdown-text {
  font-family: Lora;
	font-size: 0.875rem;
	line-height: 1.71;
	color: #171717;
  text-align: left;
  margin: 0 0 2.8125rem 0;
}

.dropdown-list {
  display: block;
  font-family: Lora;
	font-size: 0.875rem;
	line-height: 1.71;
	color: #171717;
  text-align: left;
  padding: 0;
  list-style-type: none;
  margin: 0;

}

.action-disclosure {
	font-family: Raleway;
	font-size: 1rem;
	font-weight: 500;
	color: #171717;
  margin-left: 1rem;
}

.product-returns {
  border-top: solid 1px #c6c6c6;
  border-bottom: solid 1px #c6c6c6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0;
}

.action-triangle {
  width: 0.625rem;
  height: 0.625rem;
  margin-right: 1rem;
}

.Recommendations {
  margin: 3rem 1rem 0 1rem;
}

.header-recommendations, .header-recommendations-end {
  font-family: Raleway;
	font-size: 1rem;
	font-weight: 500;
	color: #171717;
  border-bottom: solid 1px #171717;
  padding-bottom: 0.5rem;
  margin-right: 9.5rem;
}

.recommend-product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: space-between;
}

.reccommend-product-descriprion {
  display: flex;
  flex-direction: column;
}

.recommend-product-photo {
  width: 8.125rem;
  height: 10.875rem;
}

.recommend-product-name {
  margin-top: 0.75rem;
  font-family: 'Lora',serif;
	font-size: 1rem;
	color: #171717;
  max-width: 8.125rem;
  margin-bottom: 0;
  font-weight: normal;
}

.recommend-product-price {
  margin-top: 0.5rem;
  /*font-family: Raleway;*/
	font-size: 0.75rem;
	color: #999999;
  margin-bottom: 2rem;
  font-weight: normal;
}

.header-recommendations-end {
  margin-top: 1rem;
  margin-right: 10.5rem;
  font-family: Raleway;
	font-size: 1rem;
	font-weight: 500;
	color: #171717
}

.recommend-product-list {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.product-list {
  font-family: Lora;
	font-size: 0.875rem;
	font-style: italic;
	color: #171717;
  margin-bottom: 1rem;
}

.footer {
  margin-top: 3rem;
  background-color: #f3f3f3;
  padding: 2rem 1rem;
}

.product-location-footer {
  text-align: left;
}

.product-location-country, .product-location-language {
  font-family: Raleway;
	font-size: 0.75rem;
	color: #999999;
  font-weight: normal;
  margin: 0 0 1rem 0;
  background-color: transparent;
  border: 0;
}

.product-location-language {
  margin-bottom: 0;
}

.information-footer {
  margin-top: 0.5rem;
}

.information-help {
  font-family: Raleway;
	font-size: 1rem;
	font-weight: bold;
	color: #171717;
  text-align: center;
  margin: 1.5rem 0 1rem 0;
}

.information-contact {
  display: block;
  font-family: Lora;
	font-size: 0.875rem;
	font-style: italic;
	color: #171717;
  text-align: center;
  margin: 0;

}
